<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreawer.category.domain.CustomerPropertyName">

    <!-- ================================================================================== -->
    <!-- SQL新增																				-->
    <!-- ================================================================================== -->

    <!-- 新增属性名 -->
    <insert id="insert" parameterType="CustomerPropertyName">
        INSERT INTO ctgi_cust_pro_nam (id,sto_id,ctg_id,name,sequence,is_srch,is_rad,is_chk,is_inp,is_sel,is_ve,is_colr,is_req,is_sal,is_basc,is_key,crer_id, remark)
        VALUES (#{id},#{storeId},#{categoryId},#{name},#{squence},#{isSearch},#{isRadio},#{isCheckbox},#{isInput},#{isSelect},#{isVisualEditor},
                 #{isColor},#{isRequired},#{isSales},#{isBasic},#{isKey},#{createrId},#{remark})
    </insert>

    <!-- ================================================================================== -->
    <!-- SQL删除																				-->
    <!-- ================================================================================== -->
    <!-- 删除属性名和属性值 -->
    <delete id="delete" parameterType="String">
        DELETE cpn, cpv
        FROM ctgi_cust_pro_nam AS cpn
        LEFT JOIN ctgi_cust_pro_val AS cpv ON cpn.id = cpv.pro_nam_id
        WHERE cpn.id = #{id}
    </delete>

    <!-- ================================================================================== -->
    <!-- SQL更新																				-->
    <!-- ================================================================================== -->

    <!-- 更新属性名信息 -->
    <update id="update" parameterType="CustomerPropertyName">
        UPDATE ctgi_cust_pro_nam
        SET updr_id = #{updaterId},upd_tim = #{updateTime}
            <if test="categoryId ！= null">
                ,ctg_id = #{categoryId}
            </if>
            <if test="name ！= null">
                ,name = #{name}
            </if>
            <if test="sequence ！= null">
                ,sequence = #{sequence}
            </if>
            <if test="isSearch ！= null">
                ,is_srch = #{isSearch}
            </if>
            <if test="isRadio ！= null">
                ,is_rad = #{isRadio}
            </if>
            <if test="isCheckbox ！= null">
                ,is_chk = #{isCheckbox}
            </if>
            <if test="isInput ！= null">
                ,is_inp = #{isInput}
            </if>
            <if test="isSelect ！= null">
                ,is_sel = #{isSelect}
            </if>
            <if test="isVisualEditor ！= null">
                ,is_ve = #{isVisualEditor}
            </if>
            <if test="isSelect ！= null">
                ,is_sel = #{isSelect}
            </if>
            <if test="isColor ！= null">
                ,is_colr = #{isColor}
            </if>
            <if test="isRequired ！= null">
                ,is_req = #{isRequired}
            </if>
            <if test="isSales ！= null">
                ,is_sal = #{isSales}
            </if>
            <if test="isBasic ！= null">
                ,is_basc = #{isBasic}
            </if>
            <if test="isKey ！= null">
                ,is_key = #{isKey}
            </if>
            <if test="remark ！= null">
                ,remark = #{remark}
            </if>
        WHERE id = #{id}
    </update>

    <!-- ================================================================================== -->
    <!-- SQL查询																				-->
    <!-- ================================================================================== -->

    <!-- 根据类目ID、店铺ID和模糊查询关键字查询客户属性名信息列表 -->
    <select id="findPropertyNames" parameterType="Map" resultMap="customerPropertyNameResultMap">
        SELECT <include refid="basicFields"/>
        FROM ctgi_cust_pro_nam
        WHERE ctg_id = #{categoryId} AND sto_id = #{storeId}
        <if test="keyword != null">
            AND name LIKE CONCAT('%',#{keyword},'%')
        </if>
        ORDER BY sequence ASC
    </select>

    <!-- 根据类目ID、店铺ID和模糊查询关键字查询客户属性名信息总数 -->
    <select id="getPropertyNameCount" parameterType="Map" resultType="Integer">
        SELECT COUNT(1)
        FROM ctgi_cust_pro_nam
        WHERE ctg_id = #{categoryId} AND sto_id = #{storeId}
        <if test="keyword != null">
            AND name LIKE CONCAT('%',#{keyword},'%')
        </if>
    </select>

    <!-- 根据类目ID、店铺ID和属性名称查询客户属性名信息 -->
    <select id="findPropertyNameByName" parameterType="Map" resultMap="customerPropertyNameResultMap">
        SELECT <include refid="basicFields"/>
        FROM ctgi_cust_pro_nam
        WHERE ctg_id = #{categoryId} AND sto_id = #{storeId} AND name = #{name}
    </select>

    <!-- ================================================================================== -->
    <!-- 公用SQL定义																			-->
    <!-- ================================================================================== -->

    <!-- 基本信息 -->
    <sql id="basicFields">
        id,sto_id,ctg_id,name,sequence,is_srch,is_rad,is_chk,is_inp,is_sel,is_ve,is_colr,is_req,is_sal,is_basc,is_key, remark
    </sql>

    <!-- ================================================================================== -->
    <!-- 结果集映射																			-->
    <!-- ================================================================================== -->

    <!-- 基本结果映射 -->
    <resultMap id="customerPropertyNameResultMap" type="CustomerPropertyName">
        <result property="id" column="id"/>
        <result property="storeId" column="sto_id"/>
        <result property="categoryId" column="ctg_id"/>
        <result property="name" column="name"/>
        <result property="squence" column="squence"/>
        <result property="isSearch" column="is_srch"/>
        <result property="isRadio" column="is_rad"/>
        <result property="isCheckbox" column="is_chk"/>
        <result property="isInput" column="is_inp"/>
        <result property="isSelect" column="is_sel"/>
        <result property="isVisualEditor" column="is_ve"/>
        <result property="isColor" column="is_colr"/>
        <result property="isRequired" column="is_req"/>
        <result property="isSales" column="is_sal"/>
        <result property="isBasic" column="is_basc"/>
        <result property="isKey" column="is_key"/>
        <result property="createrId" column="crer_id"/>
        <result property="createTime" column="cre_tim"/>
        <result property="updaterId" column="updr_id"/>
        <result property="updateTime" column="upd_tim"/>
        <result property="remark" column="remark"/>
    </resultMap>

</mapper>