<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreawer.category.domain.SystemPropertyName">

    <!-- ================================================================================== -->
    <!-- SQL新增																				-->
    <!-- ================================================================================== -->
    <!-- 新增属性名 -->
    <!-- <insert id="insert" parameterType="PropertyName">
        INSERT INTO ctgi_pro_nam(id,name,ctg_id,is_srch,is_rad,is_chk,is_inp,is_sel,is_ve,is_colr,crer_id)
        VALUES (#{id},#{name},#{categoryId},#{isSerach},#{isRadio},#{isCheckbox},#{isInput},#{isSelect},#{isVisualEditor},#{isColor},#{createrId})
    </insert> -->

    <!-- ================================================================================== -->
    <!-- SQL删除																				-->
    <!-- ================================================================================== -->

    <!-- 根据属性名ID删除属性名信息 -->
    <!-- <delete id="delete" parameterType="String">
		DELETE pro_nam, pro_val, ctg_pro_nam, ctg_pro_val
		FROM ctgi_pro_nam AS pro_nam
			   LEFT JOIN ctgi_pro_val AS pro_val ON pro_nam.id = pro_val.pro_nam_id
			   LEFT JOIN ctgr_ctg_pro_nam AS ctg_pro_nam ON pro_val.pro_nam_id = ctg_pro_nam.pro_nam_id
			   LEFT JOIN ctgr_ctg_pro_val AS ctg_pro_val ON ctg_pro_nam.pro_nam_id = ctg_pro_val.pro_nam_id
		WHERE pro_nam.id = #{id}
	</delete> -->

    <!-- ================================================================================== -->
    <!-- SQL更新																				-->
    <!-- ================================================================================== -->

    <!-- <update id="updateBasicInfo" parameterType="PropertyName">
        UPDATE ctgi_pro_nam
        SET
        <if test="name != null">
            name = #{name},
        </if>
        updr_id = #{updaterId},upd_tim = #{updateTime}
        WHERE id = #{id}
    </update> -->

    <!-- ================================================================================== -->
    <!-- SQL查询																				-->
    <!-- ================================================================================== -->

    <!-- <select id="findPropertyNames" parameterType="Map" resultMap="propertyNameResultMap">
        SELECT <include refid="basicFields"/>
        FROM ctgi_pro_nam
        <if test="keyword != null">
            WHERE name LIKE CONCAT('%',#{keyword},'%')
        </if>
    </select>

    <select id="getPropertyNameCount" parameterType="Map" resultType="Integer">
        SELECT COUNT(1)
        FROM ctgi_pro_nam
        <if test="keyword != null">
            WHERE name LIKE CONCAT('%',#{keyword},'%')
        </if>
    </select>

    <select id="findPropertyNameById" parameterType="String" resultMap="propertyNameResultMap">
        SELECT <include refid="basicFields"/>
        FROM ctgi_pro_nam
        WHERE id = #{id}
    </select> -->

    <!-- ================================================================================== -->
    <!-- 公用SQL定义																			-->
    <!-- ================================================================================== -->

    <!-- 基本信息 -->
    <!-- <sql id="basicFields">
        id,name
    </sql> -->

    <!-- ================================================================================== -->
    <!-- 结果集映射																			-->
    <!-- ================================================================================== -->

    <!-- 基本结果映射 -->
    <resultMap id="systemPropertyNameResultMap" type="SystemPropertyName">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="ctg_id"/>
        <result property="isSearch" column="is_srch"/>
        <result property="isRadio" column="is_rad"/>
        <result property="isCheckbox" column="is_chk"/>
        <result property="isInput" column="is_inp"/>
        <result property="isSelect" column="is_sel"/>
        <result property="isVisualEditor" column="is_ve"/>
        <result property="isColor" column="is_colr"/>
        <result property="createrId" column="crer_id"/>
        <result property="createTime" column="cre_tim"/>
        <result property="updaterId" column="updr_id"/>
        <result property="updateTime" column="upd_tim"/>
        <result property="remark" column="remark"/>
    </resultMap>

</mapper>